.parent {
    margin-top: 2%;
    float: left;
}

.Content {
    
    justify-content: center;
    // margin-right: 4%;
    .text h1 {
        margin-bottom: -10px;
    }
    .text p {
        margin-bottom: 10%;
    }
}

.image-post {
    img {
        width: 400px;
        height: 300px;
    }
}