.Parent{
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: auto;
}

.Posting {
    padding: 10px;
    // justify-content: center;
    // margin-left: auto;
    margin: 20px;
    // grid-row: 1;
    // grid-column: 1;
}