.parent{
    display: flex;
    justify-content: space;
    margin-top: 20px;
    // position: absolute;

    .imageCarousel{
        // width: 50%;
    }

    .formLogin{
        margin-top: 20px;
    }
}



