{% extends 'base.html' %}
{% load static %}

{% block content %}

<link rel="stylesheet" type="text/css" href="{% static "post/create.css" %}">

<div class="container">
	<div class="row">
		<div class="col-lg-7 offset-lg-1">
			<form class="create-form" method="post" enctype="multipart/form-data">{% csrf_token %}
				<!-- Caption -->
				<div class="form-group">
					<label for="id_caption">Content</label>
					<textarea class="form-control" rows="10" type="text" name="caption" id="id_caption" placeholder="This caption your post..." required></textarea>
				</div>

				<!-- Image -->
				<div class="form-group">
					<label for="id_image">Image</label>
					<input  type="file" name="image" id="id_image" accept="image/*" required>
				</div>

				<!-- Submit btn -->
				<button class="submit-button btn btn-lg btn-primary btn-block" type="submit">POST</button>
			</form>	
		</div>
	</div>
</div>

{% endblock content %}